@model Todo.Models.UserTask

@{
	ViewData["Title"] = "Editar Tarefa";
}

<body>
	<h1>Editar Tarefa "@Model.Titulo"</h1>
	<hr>
	<div class="row">
		<div class="col-md-4">
			<form asp-action="Editar">
				<div class="form-group mb-3">
					<label asp-for="Titulo" class="control-label"><b>Título</b></label>
					<input asp-for="Titulo" class="form-control" type="text" value="@Model.Titulo">
				</div>
				<div class="form-group mb-3">
					<label asp-for="Descricao" class="control-label"><b>Descrição</b></label>
					<input asp-for="Descricao" class="form-control" type="text" value="@Model.Descricao">
				</div>
				<div class="form-group mb-3">
					<label asp-for="Data" class="control-label"><b>Data</b></label>
					<input asp-for="Data" class="form-control" type="datetime" value="@Model.Data">
				</div>
				<div class="form-group mb-3">
					<label asp-for="Status" class="control-label"><b>Status</b></label>
					<select asp-for="Status" id="Status" class="form-select">
						<option value="0">Pendente</option>
						<option value="1">Finalizado</option>
					</select>
				</div>
				<div class="form-group">
					<input class="btn btn-primary" type="submit" value="Editar">
					<input class="btn btn-danger" type="reset" value="Desfazer">
					<a asp-action="Index" class="btn btn-secondary">Voltar</a>
				</div>
			</form>
		</div>
	</div>
</body>