@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo(a)!</h1>
    <p>No seguinte link você pode checar meu projeto: <a asp-action="Index" asp-controller="Task">Desafio ToDo List</a></p>
</div>
